input {
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 10px;
	display: block;
	max-width: 500px;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 100;
}

.btn {
	border: none;
}

.btn-submit {
	background-color: #1F2C3B;
	color: #fff;
	font-weight: 100;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 40%;
	font-size: 18px;
  border-radius: 10px;
}

.btn-submit:hover{
	background-color: #304052;
}

#join-submit {
	margin-top: 20px;
}

#join-submit-top {
	margin-top: 20px;
	background-color: #fff;
	color: #1F2C3B;
	border: 4px solid #46aca0;
  border-radius: 10px;
}

#join-submit-top:hover {
	background-color: #46aca0;
	color: white;
}

#welcome-logo{
  padding-top: 5%;
  padding-bottom: 10px;
	width: 70%;
  max-width: 400px;
	margin: 0 auto;
	display: block;
}

.arrow-bottom{
	color: white;
	width: 100%;
	margin-top: 30px;
}

.arrow{
	width: 140px;
}

.arrow:hover{
	cursor: pointer;
}

#home-announce{
	margin-top: 0px;
	margin-bottom: 10px;
	height: 580px;
	padding-top: 0;
}

#bg-vid{
	position: fixed; left: 0; top: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-color: black;
  color: black;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#aboutus-section{
	background-color: #46aca0;
	color: white;
	width: 100%;
}

#aboutus-section h1{
	color: white;
	font-size: 56px;
	margin-bottom: -20px;
}

#aboutus-section p{
	font-weight: 100;
	font-size: 20px;
}

.section{
	padding-top: 80px;
	padding-bottom: 80px;
	width: 100%;
	position: relative;
}

#how-section{
	background-color: white;
	color: white;
}

#how-section h1{
	color: #46aca0;
	font-size: 56px;
	margin-bottom: 10px;
}

#how-section p{
	font-weight: 100;
	font-size: 24px;
	color: black;
}

#how-text {
	max-width: 420px;
	margin: 0 auto;
}

#how-section .how-title {
	font-size: 37px;
	text-align: left;
	margin: 0;
	margin-bottom: -10px;
}

.how-item {
	color: #46aca0;
	font-family: "Oswald", sans-serif;
	height: 80px;
}

#how-section .how-subtitle {
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	text-align: left;
}

.how-item-right {
	display: inline-block;
	float: right;
}

.how-enum {
	display: inline-block;
	border: 3px solid #46aca0;
	font-size: 40px;
	border-radius: 100%;
	width: 60px;
}

#faq-section{
	background: url('../assets/footer_lodyas/footer_lodyas.png');
}

#faq-section h1{
	color: #fff;
	font-size: 56px;
}

#faq-section p{
	font-weight: 100;
	font-size: 24px;
}

#faq-section ul{
	list-style-type: none;
	font-size: 24px;
	margin: 0 auto;
	padding-left: 0px;
}

#faq-section li{
	margin-bottom: 15px;
	color: #fff;
}

.faq-link {
  color: #fff;
  text-decoration: none;
}

.faq-answer {
  display: none;
}

#team-section {
	background-color: #fff;
}

#team-section h1 {
	font-size: 56px;
	color: #000;
}

#team-section ul {
	margin: 0 auto;
	text-align: center;
	list-style-type: none;
	padding: 0;
}

#team-section li {
	display: inline-block;
  height: 230px;
}

#team-section .pic img {
	width: 150px;
	height: 150px;
	background-color: #1F2C3B;
	border-radius: 100%;
	margin: 10px;
}

#team-section .person-name {
	font-weight: 300;
	font-size: 18px;
}

#join-section {
	background: url('../assets/congruent_pentagon/congruent_pentagon.png');
}

#join-section h1 {
	font-size: 65px;
	color: #1F2C3B;
	margin-bottom: -25px;
}

#join-section h2 {
	font-size: 18px;
	margin-bottom: 30px;
  color: #1F2C3B;
}

#footer-section{
	background-color: #1F2C3B;
	padding-top: 40px;
	padding-bottom: 40px;
}

#footer-section p{
	color: #fff;
	font-size: 20px;
}

#footer-section a{
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

#footer-section a:hover{
	color: #ccc;
}

.span4{
	width: 33%;
	display:inline-block;
	font-size: 24px;
	color: #1495ba;
}

.rect{
	height: 200px;
	width: 200px;
	border: 1px solid #1495ba;
	margin: 0 auto;
	margin-top: 10px;
}

#aboutus-text{
	max-width: 800px;
	margin: 0 auto;
}

#oldhome-announce{
	margin-top: 0px;
	min-height: 100%;
	background: #f49200; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjQ5MjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDglIiBzdG9wLWNvbG9yPSIjZmZiMzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZGI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  #f49200 0%, #ffb300 48%, #ffdb8e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f49200), color-stop(48%,#ffb300), color-stop(100%,#ffdb8e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #f49200 0%,#ffb300 48%,#ffdb8e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #f49200 0%,#ffb300 48%,#ffdb8e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #f49200 0%,#ffb300 48%,#ffdb8e 100%); /* IE10+ */
	background: linear-gradient(45deg,  #f49200 0%,#ffb300 48%,#ffdb8e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49200', endColorstr='#ffdb8e',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
}

#content-wrap{
	text-align: center;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#content-wrap h1{
	font-size: 70px;
	color: white;
	padding-top: 120px;
}

#home-announce-caption{
	margin: 0 auto;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	z-index: -1;
}

#home-announce-caption h1{
	color: white;
	font-size: 3.25em;
	margin-bottom: 5px;
}

#home-announce-caption h2{
	color: #f4f4f4;
	margin-bottom: 40px;
}

#join-now{
	background-color: transparent;
	margin: 0 auto;
	width: 300px;
	height: 70px;
	font-size: 26px;
	padding-top: 4px;
	border: 3px solid white;
}

#join-now:hover{
	background-color: rgb(90, 180, 160);
}

body,
html {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    height: 100%
}
h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    color: #3B3B3B
}
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300
}
a:focus {
    outline: none
}
.header {
    background-color: #f8f8f8
}
#container {
    height: 100%
}
#content {
    margin: 0 auto;
    text-align: center;
    height: 100%
}
#content h1 {
    margin-top: 0px
}
.button {
    background-color: #5EAEAC;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    font-weight: 300;
    font-size: 16px;
    border-radius: 7px
}
.button:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none
}
.button:hover {
    background-color: #028e9b
}
.top-bar {
    z-index: 10;
    background-color: #f8f8f8;
    height: 60px;
    background: #3e3e3e;
    background: -moz-linear-gradient(top, #3e3e3e 0%, #181818 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(100%, #181818));
    background: -webkit-linear-gradient(top, #3e3e3e 0%, #181818 100%);
    background: -o-linear-gradient(top, #3e3e3e 0%, #181818 100%);
    background: -ms-linear-gradient(top, #3e3e3e 0%, #181818 100%);
    background: linear-gradient(to bottom, #3e3e3e 0%, #181818 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3e3e3e', endColorstr='#181818', GradientType=0)
}
.top-bar-section ul li:hover>a {
    color: #B0B0B0;
    background: inherit
}
.top-bar-section ul {
    background: inherit
}
.top-bar-section ul li>a {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: inherit !important;
    margin-top: 3px
}
.top-bar li a.nav-item {
    outline: none;
    margin-top: 25px;
    color: #B0B0B0;
    font-size: 17px;
    font-weight: 300;
    background: inherit
}
.top-bar-section ul li {
    float: right
}
.top-bar li a.nav-item:hover {
    background: inherit;
    color: white
}
.top-bar li {
    height: 60px;
    width: 110px;
    text-align: center
}
.top-bar #nav-logo {
    width: 200px;
    margin-top: -4px
}
.top-bar .title-area {
    height: 60px
}
.top-bar .name {
    height: 60px;
    width: 240px
}
.top-bar .toggle-topbar.menu-icon {
    padding-top: 27px;
    margin-top: 0px;
    top: 0px;
    right: 0px
}
.top-bar .divider {
    height: 60px !important;
    border-right: 1px solid #ddd !important;
    border-left: none !important
}
.top-bar .toggle-topbar.menu-icon {
    right: -10px
}
.top-bar .toggle-topbar.menu-icon a {
    text-indent: -70px !important;
    color: #888888 !important;
    width: 40px !important
}
.top-bar .toggle-topbar a span {
    -webkit-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888 !important;
    box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888 !important
}
a#login {
    background-color: #5EAEAC;
    color: white;
    font-size: 17px;
    height: 100%;
    margin-top: 0;
    padding-top: 22px;
    font-weight: 300
}
a#login:hover,
#login-btn:hover {
    background-color: #028e9b
}
#top-search {
    margin-top: 2px;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 2px #000000;
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    background-image: url("./search-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0
}
.right li {
    width: 50px
}
.form fieldset {
    margin: 0 auto;
    padding-top: 55px;
    width: 400px
}
.form-btn {
    background-color: #1EAEAC;
    height: 40px;
    font-size: 17px
}
.error-message {
    margin-bottom: 10px;
    margin-top: 10px
}
